body{
    font-family: 'Open Sans', sans-serif;
}
/* navbar design */
.primary-clr{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.navbar-items{
color: #181818;
font-size: 45px;
font-weight: 800;
line-height: normal;
}
.primary-btn{
border-radius: 5px;
background: #FD6E0A;
color: #FFF;
font-style: normal;
font-weight: 700;
border: 0;
padding: 18px 35px;
}

