body{
    font-family: 'Open Sans', sans-serif;
}
/* navbar design */
.primary-clr{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.navbar-items{
color: #181818;
font-size: 45px;
font-weight: 800;
line-height: normal;
}
.primary-btn{
border-radius: 5px;
background: #FD6E0A;
color: #FFF;
font-style: normal;
font-weight: 700;
border: 0;
padding: 18px 35px;
}
.header{
    background: #FFF8F3;
    padding: 30px 30px 30px 200px;
}
.header-contents{
    display: flex;
}
.banner-greet{
color: #474747;
font-size: 40px;
}
.banner-title{
color: #181818;
font-size: 70px;
font-style: normal;
font-weight: 500;
}
.header-contents p{
color: #757575;
font-size: 18px;
font-style: normal;
font-weight: 200;
}
.image-1{
width: 500px;
height: 620px;
}
